{% extends "base.html" %} {% load i18n staticfiles wger_extras %} {% block title %}{% trans "Login" %}{% endblock %} {% block header %} {% endblock %} {% block content %}
<div class="login-area">
    <div class="row">
        <div class="cols-md-12 social-header">
            <h4>Login With</h4>
        </div>
        <div class="cols-md-12">
            <p>
                <center>
                    <div>
                        <a href="{% url 'social:begin' 'facebook' %}" title="Facebook" class="btn btn-lg btn-social-icon btn-facebook fb-margin">
                            <span class="fa fa-facebook"></span></a>
                        <a href="{% url 'social:begin' 'google-oauth2' %}" title="Google" class="btn btn-lg btn-social-icon btn-google gle-margin">
                            <span class="fa fa-google"></span></a>
                        <a href="{% url 'social:begin' 'twitter' %}" title="Twitter" class="btn btn-lg btn-social-icon btn-twitter">
                            <span class="fa fa-twitter"></span></a>
                    </div>
                </center>
            </p>
        </div>
        <div class="cols-md-12 social-header">
            <h4>Or</h4>
        </div>
        <div class="cols-md-12">
            <div class="cols-md-12 form-area">
                <form action="{% url 'core:user:login' %}{% if next %}?next={{next}}{% endif %}" method="post" class="form-horizontal">
                    {% trans 'Login' as submit_text %} {% render_form_fields form submit_text %}
                </form>
            </div>
        </div>
    </div>

</div>

{% endblock %} {% block sidebar %}

<div class="row no-account">
    <div class="cols-md-12 space">
    </div>
    <div class="cols-md-12">
        <h4>{% trans "No account?" %}</h4>
        <p>
            <a href="{% url 'core:user:registration' %}" class="btn btn-block btn-default">
                <span class="{% fa_class 'sign-in' %}"></span> {% trans "Register" %}
            </a>
        </p>
    </div>
    <div class="cols-md-12">
        <h4>{% trans "Forgot password?" %}</h4>
        <p>
            <a href="{% url 'core:user:password_reset' %}" class="btn btn-block btn-default">
                <span class="{% fa_class 'key' %}"></span> {% trans "Reset password" %}
            </a>
        </p>
    </div>
</div>

{% endblock %}